@import '~react-datetime/css/react-datetime.css';
@import './canvas/breakpoints';
@import './canvas/colours';

.note {
  background: $colour-white;
  display: grid;
  padding: 1rem;
  margin: 1rem 0;
  grid-template: "time" 1rem
                 "text"
                 "tags";
  grid-row-gap: 2rem;

  @media (min-width: $breakpoint-tablet-lower) {
    grid-template: "time text"
                   "time tags"
                   / 1fr 5fr;
    grid-column-gap: 2rem;
  }

  @media (min-width: $breakpoint-laptop-lower) {
    grid-template: "time text tags"
                   / 1fr 4fr 1fr;
  }

  .note-time {
    grid-area: time;

    .form-control {
      width: 100%;
      border: none;
    }

    .note-time-inner {
      display: flex;
      justify-content: space-between;

      @media (min-width: $breakpoint-tablet-lower) {
        flex-direction: column;
        justify-content: flex-start;

        .note-time-date {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .note-text {
    grid-area: text;

    textarea {
      width: 100%;
      height: 5rem;
      border: none;
      border-bottom: 1px solid $colour-grey;
      resize: vertical;
    }
  }

  .note-tags {
    grid-area: tags;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: -0.5rem;

    .note-tag {
      border-top: 1px solid $colour-grey;
      margin: 0 1rem 0.5rem 0;
    }

    .note-tags-add-button {
      margin: 0 1rem 0.5rem 0;
    }
  }
}
