@import '~normalize.css';
@import 'ui/canvas/breakpoints';
@import 'ui/canvas/colours';

html {
  font-family: sans-serif;
  font-size: 18px;
}

body {
  background: $colour-ultralightgrey;
  max-width: $breakpoint-laptop-lower;
  margin: auto;
}
